<!DOCTYPE html>
<html>
<head>
  <title>User's Post</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="min-h-screen w-full flex flex-col justify-center items-center bg-gray-100">
  <div class="p-4 w-11/12 bg-white border border-gray-300 rounded-lg">
    <div class="text-lg font-semibold"><%= @post.title %></div>
    <div class="text-gray-600 mt-0 text-right text-top text-sm h-4">
      Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %>
    </div>
    <div class="text-gray-600 mt-6"><%= @post.text %></div>
  </div>
  <ul class="p-4 w-11/12 bg-white border border-gray-300 rounded-lg mb-4">
    <% if @post.comments.present? %>
      <% @post.comments.each do |ecomment| %>
        <li class="pr-4 pl-4 w-10/12">
          <div><%= ecomment.author.name %>: <%= ecomment.text %></div>
        </li>
      <% end %>
    <% else %>
      <li class="p-4 w-10/12 bg-white border border-gray-300 rounded-lg">
        0 Comments
      </li>
    <% end %>
  </ul>
  <%= link_to new_user_post_comment_path(@user, @post), class: "hover:underline" do %>
    <button class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 mt-2">
      Add Comment
    </button>
  <% end %>
</div>
</body>
</html>
