<!DOCTYPE html>
<html>
<head>
  <title>User's Post</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/2e46d3026c.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="flex justify-end space-x-4 absolute items-center top-0 right-0 m-6">
  <%= link_to user_path(current_user) do %>
    <span class="text-gray-600 font-bold"><%= current_user.name %></span>
  <% end %>
  <%= button_to(edit_user_registration_path, method: :get) do %>
    <button class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Edit Account</button>
  <% end %>
  <%= button_to(destroy_user_session_path, method: :delete) do %>
    <button class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600">Log Out</button>
  <% end %>
</div>
<div class="min-h-screen w-full flex flex-col justify-center items-center bg-gray-100">
  <div class="p-4 w-11/12 bg-white border border-gray-300 rounded-lg">
    <div class="text-lg w-full font-semibold flex justify-between">
      <div><%= @post.title %> by <%= link_to @post.author.name, user_path(@post.author) %></div>
      <div><% if can?(:destroy, @post) || (current_user && current_user.role == 'admin') %>
        <%= button_to user_post_path(@user, @post),
                      method: :delete, data: { confirm: "Are you sure?" },
                      class: "bg-red-500 hover:bg-red-600 text-black py-1 px-2 rounded-md" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %></div>
    </div>
    <div class="text-gray-600 mt-0 text-right text-top text-sm h-4">
      <i class="mb-1">Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></i>
        <%= button_to user_post_likes_path(@user, @post), method: :post, class: 'like-button', remote: true do %>
        <br/>
        <span class="p-1 mt-1 border border-gray-300 rounded-lg">
          <i class="fas fa-thumbs-up fa-lg text-blue-500"></i>
          <i>Like</i>
        </span>
      <% end %>
    </div>
    <div class="text-gray-600 mt-6"><%= @post.text %></div>
  </div>
  <ul class="p-4 w-11/12 bg-white border border-gray-300 rounded-lg mb-4">
    <% if @post.comments.present? %>
      <% @post.comments.each do |ecomment| %>
        <li class="my-2 pt-2 pb-2 pr-4 pl-4 w-full justify-between flex text-black bg-gray-200 rounded items-center">
          <div>
            <div class="font-bold">
              <%= link_to ecomment.author.name, user_path(ecomment.author) %>:
            </div>
            <div><%= ecomment.text %></div>
          </div>

          <% if can?(:destroy, ecomment) %>
            <div class="px-2 py-1 h-1/2 text-sm text-black bg-gray-500 rounded-lg">
              <%= button_to "Delete comment", user_post_comment_path(@user, @post, ecomment),
                            method: :delete, data: { confirm: "Are you sure?" }, class: "delete", id: ecomment.id %>
            </div>
          <% end %>

        </li>
      <% end %>
    <% else %>
      <li class="p-4 w-10/12 bg-white border border-gray-300 rounded-lg">
        0 Comments
      </li>
    <% end %>
  </ul>
  <%= link_to new_user_post_comment_path(@user, @post), class: "hover:underline" do %>
    <button class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 mt-2">
      Add Comment
    </button>
  <% end %>
</div>
</body>
</html>
